<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<div id="content" class="user-next-steps">

  <h2>Thanks for Signing Up, <%= @user.first %>!</h2>
  <p>Lets learn a little bit more about you!</p>
  
  <div class="linebreak"></div>
  <div class="">
    <div class="left-side-box">
      <p>When you volunteer for a business, what skills do you have to offer?</p>
      <!--<input id="skills-field" type="text" placeholder="Search for a skill / program / language" >-->
      <!--<button id="skills-submit-button">Submit Skill</button><br>-->
      <br>
      <%= form_with url: users_add_skill_path, id: "skills-form", format: 'json' do |f| %>
        <%= f.label :skill %><br>
        <%= f.text_field :skill, placeholder: "Submit your skill" %>
        
        <%= f.submit "Submit Skill" %>
        
      <% end %>
      
      <p id="skills-form-messages"></p>
    </div>
    <div id="all-skills-box" class="right-side-box">
      <%= render 'partials/skill_badges' %>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="linebreak"></div>
  
  
  <p>What types of causes do you wish to support?</p>
  
   <%= form_with url: users_add_cause_path, id: "causes-form" do |f| %>
    <%= f.label :skill %> 
    <%= f.text_field :skill, placeholder: "Submit your causes" %>
    
    <%= f.submit "Submit Cause" %>
    
  <% end %>
  
  <div class="linebreak"></div>
 
  <!--<%= render "devise/shared/links" %>-->

</div>
