

<div id="content">
    
    <h1><%= @user.first+" "+@user.last %> Profile</h1>
    <div class="linebreak"></div>
    
    <%= render 'partials/flash_notices' %>
    
    <div class="flex-container">
        
        <div class="left-side-box">
            <p><%= @user.bio || @user.first + " " + @user.last + " has not entered a bio for their profile" %></p>
        </div>
        <div class="right-side-box">
            <div id="profile-picture-box">
                <% if @user.profilePicture %>
                    <img src="/images/profile-pictures/<%= @user.id %>.jpg">
                <% else %>
                    <img src="/images/profile-pictures/default.jpg">
                <% end %>
            </div>
        </div>
    </div>
    <div id="accomplishments-container">
        <div class="flex-container">
            <div>
                <p>
                    Hours Worked:
                </p>
                <p class="accomplishments-numbers">
                    <%= @user.hoursWorked %>
                </p>
            </div>
            <div>
                <p>
                    Money Raised
                </p>
                <p class="accomplishments-numbers">
                    $<%= @user.moneyRaised %>
                </p>
            </div>
            <div>
                <p>Projects Completed</p>
                <p class="accomplishments-numbers">
                    <%= @projectsCompleted%>
                </p>

            </div>
            <div>
                <p>Projects In-Progress</p>
                <p class="accomplishments-numbers">
                    <%= @currentProjects %>
                </p>

            </div>
        </div>
    </div>
    
    <div class="linebreak"></div>
    
    <h2>Skills</h2>
    <p>Listed skills for <%= @user.first %>:</p>
    
    <%= render :partial => 'partials/skill_badges', locals: {:skills => @skills} %>
    <div class="linebreak"></div>
    
    <h2>Causes</h2>
    <p>Causes that <%= @user.first %> is benefitting:</p>
    
    <div class="linebreak"></div>
    
    <%= link_to 'Edit', edit_user_registration_path(@user) %> |
    <%= link_to 'Back to all Users', users_path %>

</div>