<!DOCTYPE html>
<html>
<head>
  <title>Handshakes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="nav">
    <div id="nav-logo">
      <a href="/">
        <p>Handshakes</p>
      </a>
    </div>
    <div id="nav-items">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/how_it_works">How It Works</a></li>
        <li>Our Impact</li>
      </ul>
    </div>
    <div id="nav-user">
      <ul>
        <% #byebug %>
        <% if user_signed_in? %>
          <li>Welcome, <%= current_user.first %> | <%= link_to("Profile", "/profile") %></li>
          <li><%= link_to("Sign Out", users_sign_out_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to("Sign Up", new_user_registration_path) %></li>
          <li><%= link_to("Sign In", new_user_session_url) %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <%= yield %>
  
</body>
<footer>
  <div class="container">
    <p>Handshakes is a thing.</p>
  </div>
</footer>
</html>
